<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hotel</title>
</head>
<body>
    <h2 style="text-align: center;">Book</h2>
    <form method="post" style="text-align: center;" enctype="multipart/form-data">
        Name: <input type="text" name="name"><br><br>
        Location: <input type="text" name="location"><br><br>
        Price : <input type="number" name="price"> <br><br>
        Image : <input type="file" name="image"><br><br>
        <input type="submit" value="Add">
    </form>
    <a href="/">back</a>
</body>
</html>