<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User portal</title>
</head>
<body>
    <h2> Book {{ hotel.name}}</h2>
    <form method="post" style="text-align: center; margin-top: 50px;">
        Name : <input type="text" name= "name" placeholder="Username">
        <br><br>
        Check-in : <input type="date" name="checkin">
        <br><br>
        Check-out: <input type="date" name="checkout">
        <br><br>
        <button type="submit">Book now</button>
        </form>
        <a href="/" >back</a>
</body>
</html>